*{
    box-sizing: border-box;
    line-height: inherit;
}

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3, h4{
    font-weight: bolder;
    color:rgb(11, 11, 11);

}

p{
    margin-left: 20px;;
}

p, li{
    color: rgb(243, 109, 13);
}